* {
    box-sizing: border-box;
}

$accentColor: #7E57C2;

html,
body {
  font-family: 'Helvetica Neue', 'Calibri Light', Roboto, sans-serif;
  font-size: 13px;

  height: 100%;
  margin: 0;
  padding: 0;

  text-rendering: optimizeLegibility;
}

.container {
  position: relative;

  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem 4rem;
}

.title-row {
  display: flex;
  align-items: center;
  margin: 1.2rem 0 1.6em;
}

.title {
  font-size: 3.5rem;
  font-weight: 100;

  margin: 0;
  flex-grow: 1;
}

.title b {
  font-weight: 400;
}

.download-link {
  font-size: 1.2rem;
  font-weight: 200;
  color: $accentColor;
  text-decoration: none;
  letter-spacing: .1rem;
}

.download-link:hover {
  color: #fff;
  background: $accentColor;
  box-shadow: 0 0.045rem 0 0.3rem $accentColor;
}

.svg-container {
  background: #272b4d;
  border-radius: 14px;
  box-sizing: border-box;
  padding: 2em;
}

.svg-container svg {
  max-height: 60vh;
}

.data-title {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: .8rem;
}
